---
swagger: '2.0'
info:
  title: Tribe
  description: This is a REST API reference for the Tribe Admin
  version: v1alpha
basePath: "/v1"
consumes:
  - application/json
produces:
  - application/json
paths:
  "/realms":
    post:
      tags:
        - realms
      operationId: create-realm
      summary: Create new realm
      parameters:
        - name: realm
          in: body
          required: true
          schema:
            "$ref": "#/definitions/CreateRealmRequest"
      responses:
        201:
          "$ref": "#/responses/Created"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        409:
          "$ref": "#/responses/Conflict"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"

    get:
      tags:
        - realms
      operationId: list-realms
      summary: List realms
      parameters:
        - "$ref": "#/parameters/offset"
        - "$ref": "#/parameters/limit"
      responses:
        200:
          description: found
          x-go-name: FoundRealms
          schema: {
            "type": "object",
            "required": [
                "results",
                "total"
            ],
            "properties": {
              "_links": {
                "$ref": "#/definitions/Links"
              },
              "total": {
                type: integer,
                description: "Total number of entries"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/GetRealmResponse"
                }
              },
            }
          }
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        409:
          "$ref": "#/responses/Conflict"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"

  "/realms/{realm_id}":
    get:
      tags:
        - realms
      operationId: get-realm
      summary: Get realm
      parameters:
        - "$ref": "#/parameters/realm_id"
      responses:
        200:
          description: found
          x-go-name: FoundRealm
          schema:
            "$ref": "#/definitions/GetRealmResponse"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        404:
          "$ref": "#/responses/NotFound"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"
    put:
      tags:
        - realms
      operationId: update-realm
      summary: Update realm
      parameters:
        - "$ref": "#/parameters/realm_id"
        - name: realm
          in: body
          required: true
          schema:
            "$ref": "#/definitions/UpdateRealmRequest"
      responses:
        200:
          "$ref": "#/responses/OK"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        404:
          "$ref": "#/responses/NotFound"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"
    delete:
      tags:
        - realms
      operationId: delete-realm
      summary: Delete realm
      parameters:
        - "$ref": "#/parameters/realm_id"
      responses:
        200:
          "$ref": "#/responses/OK"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        404:
          "$ref": "#/responses/NotFound"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"


  "/realms/{realm_id}/users":
    post:
      tags:
        - users
      operationId: create-user
      summary: Create new user
      parameters:
        - "$ref": "#/parameters/realm_id"
        - name: user
          in: body
          required: true
          schema:
            "$ref": "#/definitions/CreateUserRequest"
      responses:
        201:
          description: success
          x-go-name: CreatedUser
          schema:
            "$ref": "#/definitions/CreateUserResponse"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        409:
          "$ref": "#/responses/Conflict"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"
    get:
      tags:
        - users
      operationId: list-users
      summary: List users
      parameters:
        - "$ref": "#/parameters/realm_id"
        - "$ref": "#/parameters/offset"
        - "$ref": "#/parameters/limit"
      responses:
        200:
          description: found
          x-go-name: FoundUsers
          schema: {
            "type": "object",
            "required": [
                "results",
                "total",
            ],
            "properties": {
              "_links": {
                "$ref": "#/definitions/Links"
              },
              "total": {
                type: integer,
                description: "Total number of entries"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/GetUserResponse"
                }
              },
            }
          }
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        409:
          "$ref": "#/responses/Conflict"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"

  "/realms/{realm_id}/users/{username}":
    get:
      tags:
        - users
      operationId: get-user
      summary: Get user
      parameters:
        - "$ref": "#/parameters/realm_id"
        - "$ref": "#/parameters/username"
      responses:
        200:
          description: found
          x-go-name: FoundUser
          schema:
            "$ref": "#/definitions/GetUserResponse"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        404:
          "$ref": "#/responses/NotFound"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"
    put:
      tags:
        - users
      operationId: update-user
      summary: Update user
      parameters:
        - "$ref": "#/parameters/realm_id"
        - "$ref": "#/parameters/username"
        - name: user
          in: body
          required: true
          schema:
            "$ref": "#/definitions/UpdateUserRequest"
      responses:
        200:
          "$ref": "#/responses/OK"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        404:
          "$ref": "#/responses/NotFound"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"
    delete:
      tags:
        - users
      operationId: delete-user
      summary: Delete user
      parameters:
        - "$ref": "#/parameters/realm_id"
        - "$ref": "#/parameters/username"
      responses:
        200:
          "$ref": "#/responses/OK"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        404:
          "$ref": "#/responses/NotFound"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"



  "/-/healthy":
    get:
      summary: Health check
      description: |
        An endpoint which responds health checks
      tags:
        - healthz
      responses:
        200:
          description: Success
        503:
          description: Service Unavailable
          schema:
            "$ref": "#/definitions/Problem"
  "/-/ready":
    get:
      summary: Readiness check
      description: |
        An endpoint which responds readiness checks. This probe is
        called to check whether the service is ready to receive traffic.
      tags:
        - healthz
      responses:
        200:
          description: Success
        503:
          description: Service Unavailable
          schema:
            "$ref": "#/definitions/Problem"

parameters:
  realm_id:
    name: realm_id
    description: Realm id.
    in: path
    required: true
    type: string

  offset:
    in: query
    name: offset
    type: integer
    description: The number of items to skip before starting to collect the result set.

  limit:
    in: query
    name: limit
    type: integer
    minimum: 0
    description: The numbers of entries to return.

  username:
    name: username
    description: Username.
    in: path
    required: true
    type: string

responses:
  OK:
    description: Successfully created.
    x-go-name: OK
  Created:
    description: Successfully created.
    x-go-name: Created
  BadRequest:
    description: Invalid request body.
    x-go-name: BadRequest
    schema:
      "$ref": "#/definitions/Problem"
  Unauthorized:
    description: Invalid token.
    x-go-name: Unauthorized
    schema:
      "$ref": "#/definitions/Problem"
  Forbidden:
    description: Insufficient scope.
    x-go-name: Forbidden
    schema:
      "$ref": "#/definitions/Problem"
  NotFound:
    description: Not found.
    x-go-name: NotFound
    schema:
      "$ref": "#/definitions/Problem"
  Conflict:
    description: Already exists.
    x-go-name: Conflict
    schema:
      "$ref": "#/definitions/Problem"
  TooManyRequests:
    description: Rate limiting
    x-go-name: Too Many Requests
    schema:
      "$ref": "#/definitions/Problem"
  InternalServerError:
    description: Internal Server Error
    x-go-name: Internal Server Error
    schema:
      "$ref": "#/definitions/Problem"
  Unexpected:
    description: Unexpected error
    x-go-name: Unexpected
    schema:
      "$ref": "#/definitions/Problem"

definitions:
  Problem:
    type: object
    properties:
      type:
        type: string
        format: uri-reference
        description: >
          A URI reference that uniquely identifies the problem type only in the
          context of the provided API. Opposed to the specification in RFC-7807,
          it is neither recommended to be dereferencable and point to a
          human-readable documentation nor globally unique for the problem type.
        default: 'about:blank'
        example: '/problem/connection-error'
      message:
        type: string
        description: >
          A short summary of the problem type.
        example: Service Unavailable
      code:
        type: integer
        format: int32
        description: >
          The HTTP status code generated by the origin server for this occurrence
          of the problem.
        minimum: 100
        maximum: 600
        exclusiveMaximum: true
        example: 503
      detail:
        type: string
        description: >
          A human readable explanation specific to this occurrence of the
          problem that is helpful to locate the problem and give advice on how
          to proceed.
        example: Connection to database timed out
      instance:
        type: string
        format: uri-reference
        description: >
          A URI reference that identifies the specific occurrence of the problem,
          e.g. by adding a fragment identifier or sub-path to the problem type.
          May be used to locate the root of this problem in the source code.
        example: '/problem/connection-error#token-info-read-timed-out'
  CreateRealmRequest:
    type: object
    required:
      - realm_id
    properties:
      realm_id:
        type: string
        description: The realm identifier.
        minLength: 1
        maxLength: 64
        pattern: '^[a-zA-Z0-9_-]*$'
      description:
        type: string
        description: Te realm description.
        maxLength: 255
      realm_metadata:
        type: object
        description: Additional data related to the realm
        additionalProperties:
          type: string
  UpdateRealmRequest:
    type: object
    properties:
      description:
        type: string
        description: Te realm description.
        maxLength: 255
      realm_metadata:
        type: object
        description: Additional data related to the realm
        additionalProperties:
          type: string
  GetRealmResponse:
    type: object
    required:
      - realm_id
    properties:
      realm_id:
        type: string
        description: The realm identifier.
      created_at:
        type: string
        format: date-time
      description:
        type: string
        description: Te realm description.

  CreateUserRequest:
    type: object
    required:
      - username
      - password
    properties:
      username:
        type: string
        description: User name that is unique in the realm
        minLength: 1
        maxLength: 320
        pattern: '^[a-zA-Z0-9!$%&()*+,.\/:;<=>?@\[\]^_{|}~-]*$'
      password:
        type: string
        format: password
        description: Initial password for this user.
      enabled:
        type: boolean
        description: Boolean representing if user is enabled or not.
      email:
        type: string
        format: email
        description: The user's email.
      email_verified:
        type: boolean
        description: True if the End-User's e-mail address has been verified; otherwise false.
      user_metadata:
        type: object
        description: Additional data related to the user
        additionalProperties:
          type: string
  UpdateUserRequest:
    type: object
    properties:
      password:
        type: string
        format: password
        description: Initial password for this user.
      enabled:
        type: boolean
        description: Boolean representing if user is enabled or not.
      email:
        type: string
        format: email
        description: The user's email.
      email_verified:
        type: boolean
        description: True if the End-User's e-mail address has been verified; otherwise false.
      user_metadata:
        type: object
        description: Additional data related to the user
        additionalProperties:
          type: string

  CreateUserResponse:
    type: object
    required:
      - user_id
      - realm_id
      - username
    properties:
      user_id:
        type: string
        description: Global user identifiert.
      realm_id:
        type: string
        description: The realm identifier.
      username:
        type: string
        description: User name that is unique in the realm
  GetUserResponse:
    type: object
    required:
      - user_id
      - realm_id
      - username
    properties:
      user_id:
        type: string
        description: Global user identifiert.
      created_at:
        type: string
        format: date-time
      realm_id:
        type: string
        description: The realm identifier.
      username:
        type: string
        description: User name that is unique in the realm
      enabled:
        type: boolean
        description: Boolean representing if user is enabled or not.
      email:
        type: string
        format: email
        description: The user's email.
      email_verified:
        type: boolean
        description: True if the End-User's e-mail address has been verified; otherwise false.
  Links:
    type: object
    properties:
      next:
        type: string
        description: The link for the next page of results.
      prev:
        type: string
        description: The link for the previous page of results.
