---
swagger: '2.0'
info:
  title: Tribe
  description: This is a REST API reference for the Tribe Admin
  version: v1alpha
basePath: "/v1"
consumes:
  - application/json
produces:
  - application/json
paths:
  "/realms":
    post:
      tags:
        - realms
      operationId: create-realm
      summary: Create a new realm
      parameters:
        - name: realm
          in: body
          required: true
          schema:
            "$ref": "#/definitions/CreateRealmRequest"
      responses:
        201:
          "$ref": "#/responses/Created"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        409:
          "$ref": "#/responses/Conflict"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"

  "/realms/{realm_id}/users":
    post:
      tags:
        - users
      operationId: create-user
      summary: Create a new user
      parameters:
        - "$ref": "#/parameters/realm_id"
        - name: user
          in: body
          required: true
          schema:
            "$ref": "#/definitions/CreateUserRequest"
      responses:
        201:
          description: success
          x-go-name: CreatedUser
          schema:
            "$ref": "#/definitions/CreateUserResponse"
        400:
          "$ref": "#/responses/BadRequest"
        401:
          "$ref": "#/responses/Unauthorized"
        403:
          "$ref": "#/responses/Forbidden"
        409:
          "$ref": "#/responses/Conflict"
        429:
          "$ref": "#/responses/TooManyRequests"
        default:
          "$ref": "#/responses/Unexpected"

  "/-/healthy":
    get:
      summary: Health check
      description: |
        An endpoint which responds health checks
      tags:
        - healthz
      responses:
        200:
          description: Success
        503:
          description: Service Unavailable
          schema:
            "$ref": "#/definitions/Problem"
  "/-/ready":
    get:
      summary: Readiness check
      description: |
        An endpoint which responds readiness checks. This probe is
        called to check whether the service is ready to receive traffic.
      tags:
        - healthz
      responses:
        200:
          description: Success
        503:
          description: Service Unavailable
          schema:
            "$ref": "#/definitions/Problem"

parameters:
  realm_id:
    name: realm_id
    description: Realm id.
    in: path
    required: true
    type: string

responses:
  Created:
    description: Successfully created.
    x-go-name: Created
  BadRequest:
    description: Invalid request body.
    x-go-name: BadRequest
    schema:
      "$ref": "#/definitions/Problem"
  Unauthorized:
    description: Invalid token.
    x-go-name: Unauthorized
    schema:
      "$ref": "#/definitions/Problem"
  Forbidden:
    description: Insufficient scope.
    x-go-name: Forbidden
    schema:
      "$ref": "#/definitions/Problem"
  Conflict:
    description: Already exists.
    x-go-name: Conflict
    schema:
      "$ref": "#/definitions/Problem"
  TooManyRequests:
    description: Rate limiting
    x-go-name: Too Many Requests
    schema:
      "$ref": "#/definitions/Problem"
  InternalServerError:
    description: Internal Server Error
    x-go-name: Internal Server Error
    schema:
      "$ref": "#/definitions/Problem"
  Unexpected:
    description: Unexpected error
    x-go-name: Unexpected
    schema:
      "$ref": "#/definitions/Problem"

definitions:
  Problem:
    type: object
    properties:
      type:
        type: string
        format: uri-reference
        description: >
          A URI reference that uniquely identifies the problem type only in the
          context of the provided API. Opposed to the specification in RFC-7807,
          it is neither recommended to be dereferencable and point to a
          human-readable documentation nor globally unique for the problem type.
        default: 'about:blank'
        example: '/problem/connection-error'
      message:
        type: string
        description: >
          A short summary of the problem type.
        example: Service Unavailable
      code:
        type: integer
        format: int32
        description: >
          The HTTP status code generated by the origin server for this occurrence
          of the problem.
        minimum: 100
        maximum: 600
        exclusiveMaximum: true
        example: 503
      detail:
        type: string
        description: >
          A human readable explanation specific to this occurrence of the
          problem that is helpful to locate the problem and give advice on how
          to proceed.
        example: Connection to database timed out
      instance:
        type: string
        format: uri-reference
        description: >
          A URI reference that identifies the specific occurrence of the problem,
          e.g. by adding a fragment identifier or sub-path to the problem type.
          May be used to locate the root of this problem in the source code.
        example: '/problem/connection-error#token-info-read-timed-out'
  CreateRealmRequest:
    type: object
    required:
      - realm_id
    properties:
      realm_id:
        type: string
        description: The realm identifier.
        maxLength: 64
        pattern: '^[a-zA-Z0-9_-]*$'
      description:
        type: string
        description: Te realm description.
        maxLength: 255
      realm_metadata:
        type: object
        description: Additional data related to the realm
        additionalProperties:
          type: string
  CreateUserRequest:
    type: object
    required:
      - username
      - password
    properties:
      username:
        type: string
        description: User name that is unique in the realm
        maxLength: 255
      password:
        type: string
        format: password
        description: Initial password for this user.
      enabled:
        type: boolean
        format: password
        description: Boolean representing if user is enabled or not.
      email:
        type: string
        format: email
        description: The user's email.
      email_verified:
        type: boolean
        description: True if the End-User's e-mail address has been verified; otherwise false.
      user_metadata:
        type: object
        description: Additional data related to the user
        additionalProperties:
          type: string
  CreateUserResponse:
    type: object
    required:
      - user_id
      - realm_id
      - username
    properties:
      user_id:
        type: string
        description: Global user identifiert.
      realm_id:
        type: string
        description: The realm identifier.
      username:
        type: string
        description: User name that is unique in the realm
